.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto

*.svg
*.pdf

/data/raw_fcs_data/*
!/data/raw_fcs_data/.gitkeep
/results/004_bacterial_production_endpoint/Ba_vs_Vi/data/raw_data/*
!/results/004_bacterial_production_endpoint/Ba_vs_Vi/data/raw_data/.gitkeep
/results/004_bacterial_production_endpoint/NJ2020/data/raw_data/*
!/results/004_bacterial_production_endpoint/NJ2020/data/raw_data/.gitkeep